<div class="toc">
  <h2>Contents</h2>
  <ul>
    {% assign headers = content | split: '<h' %}
    {% for header in headers %}
    {% if header contains '</h' %}
    {% assign headerLevel = header | first %}
    {% if headerLevel == "2" or headerLevel == "3" %}
    {% assign headerText = header | split: '>' | second | split: '</h' | first %}
    {% assign headerID = headerText | downcase | replace: ' ', '-' | replace: '.', '' | replace: ':', '' %}
    <li class="toc-h{{ headerLevel }}">
      <a href="#{{ headerID }}">{{ headerText }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>
